a {
  color: black;
  text-decoration: none;
}

.Button {
  background-color: #3c096c;
  border: 2px solid white;
  border-radius: 1vh;
  color: white;
  font-weight: 500;
  padding: 1vh;
  text-decoration: none;
}

.Button:hover {
  background-color: #7b2cbf;
  cursor: pointer;
}

.CartProductCardClass {
  display: flex;
  justify-content: center;
}

.Header {
  background-color: #3c096c;
  display: flex;
  font-weight: 500;
  gap: 1vh;
  justify-content: flex-start;
  padding: 1.5vh;
}

.Header a {
  border: 2px solid white;
  border-radius: 1vh;
  color: white;
  padding: 1vh;
  text-decoration: none;
}

.Header a:hover {
  background-color: #7b2cbf;
}

.Input {
  border-radius: 1vh;
  padding: 1vh;
}